<!DOCTYPE html>
<html>
<head>
<title>Welcome to Twiiit</title>
<link rel="stylesheet" href="stylesheets/page.css" />
</head>
<body>

<div id="header">
    <h1>{{title}}</h1>
    <p>{{username}}</p>
</div>
<div id="body">
    <form class="form" method="post" action="">
    <ul>
        <li>
            <label for="name">User:</label>
            <b>{{username}}</b>
        </li>
        <li>
            <label for="message">Message: </label>
            <textarea type="text" name="message" ></textarea>
        </li>
        <li>
            <input type="submit"value="Twiiit" />
        </li>
    </ul>
    </form>
</div>
</body>
</html>